include ../slider/slider

mixin review(reviewImg, reviewAuthor, reviewAbout, reviewMessage, counter)
  article.review
    picture
      img.review__image(src=reviewImg, alt=reviewAuthor, width="58", height="58")
    .review__box
      b.review__author= reviewAuthor
      p.review__about= reviewAbout
      p.review__message= reviewMessage
        button.review__expand Развернуть
      span.review__counter #{counter}/#{review.length}

section.reviews
  h2.heading.reviews__heading(id="reviews") Отзывы
  .slider.reviews__slider
    +slider-controls("reviews-prev", "reviews-next")
    ul.reviews__list.slider__inner
      - for(var i = 0;  i < review.length; i++)
        li.reviews__item.slider__item
          +review(review[i].img, review[i].author, review[i].about, review[i].message, i + 1)
