mixin order-content(contentImg, contentName, contentDescr, contentPrice, counter, id)
  .content__box
    picture
      img.content__image(src=contentImg, alt=contentName)
    .content__wrapper
      h4.content__name= contentName
      p.content__descr= contentDescr
      b.content__price= contentPrice
      input.visually-hidden(type="radio", name="product-content", id= "content-" + id, value= id)
      label.button.content__button(for= "content-" + id) Выбрать
  span.content__counter #{counter}/#{order.content.length}
