mixin order-content(contentImg, contentName, contentDescr, contentPrice, counter, id)
  .content__box
    picture
      source(media="(min-width: 768px)" srcset=contentImg.lg2x + " 2x," + contentImg.lg + " 1x")
      img.content__image(src=contentImg.sm, alt=contentName, srcset=contentImg.sm2x + " 2x")
    span.content__counter #{counter}/#{order.content.length}

  .content__wrapper
    h4.content__name= contentName
    p.content__descr= contentDescr
    b.content__price= contentPrice
    input.visually-hidden(type="radio", name="productContent", id="content-" + id, value=contentName)
    label.button.content__button(for="content-" + id) Выбрать
